span.cartIndicator {
    background-color: red;
    border-radius: 3.40282e38px;
    font-size: 22px;
    padding: 12px;
}

nav {
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 65px;
}

nav > * {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.card {
    padding: 2rem;
    background-color: whitesmoke;
    max-width: 200px;
}

.innerCard {
    display: flex;
    flex-direction: column;
}

.productAmount {
    width: 40px;
}

.indicator {
    color: red;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 26px;
}

.logo {
    margin-right: auto;
}