span.cartIndicator {
    background-color: red;
    border-radius: 3.40282e38px;
    font-size: 22px;
    padding: 12px;
}

.card {
    padding: 2rem;
    background-color: whitesmoke;
    max-width: 200px;
}

.innerCard {
    display: flex;
    flex-direction: column;
}

.productAmount {
    width: 40px;
}